<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>Task Manager</h1>

        <nav class="tabs">
            <a href="{% url 'tasks:task_list' %}"
               class="tab {% if request.resolver_match.url_name == 'task_list' %}active-tab{% endif %}">
                All Tasks
            </a>

            <a href="{% url 'tasks:task_create' %}"
               class="tab {% if request.resolver_match.url_name == 'task_create' %}active-tab{% endif %}">
                Create Task
            </a>

            <a href="{% url 'tasks:inactive_tasks' %}"
               class="tab inactive-tab {% if request.resolver_match.url_name == 'inactive_tasks' %}active-tab{% endif %}">
                Inactives
            </a>
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>