<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>Task Manager</h1>
        <nav>
            <a href="{% url 'tasks:task_list' %}">All Tasks</a> |
            <a href="{% url 'tasks:task_create' %}">Create Task</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>